.navbar-inverse {
background: #A7EF6E
  }
.navbar-inverse .navbar-brand {
background: #A7EF6E
  }
.navbar-inverse .navbar-nav>li>a {
 background: #A7EF6E
}
.navbar-inverse .navbar-nav>.active>a {
  background: #A7EF6E
  border: none;
  border-radius: 25px;
  color: snow; 
  cursor: pointer;
  font-size: 1.25em;
  letter-spacing: .1em;
  outline: none;
  padding: .75em 2em;
  position: relative; 
  text-transform: uppercase;
}
.list-group-item.active {
  background: #4CAF50;
  border: none;
  border-radius: 25px;
  color: snow; 
  cursor: pointer;
  font-size: 1.25em;
  letter-spacing: .1em;
  outline: none;
  padding: .75em 2em;
  text-transform: uppercase;
}
item.active, .list-group-item.active:hover {
#2A252D
}

.body {
  background-color: #2A252D;}


